<h1>Listing person_searches</h1>

<table>
  <tr>
    <th>Zipcode</th>
    <th>Programming language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @person_searches.each do |person_search| %>
  <tr>
    <td><%= person_search.zipcode %></td>
    <td><%= person_search.programming_language %></td>
    <td><%= link_to 'Show', person_search %></td>
    <td><%= link_to 'Edit', edit_person_search_path(person_search) %></td>
    <td><%= link_to 'Destroy', person_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person search', new_person_search_path %>
