<%= form_for(@search, :url => "../people/search" ) do |f| %>
  <% if @search.errors.any? %>
        <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
 <br/>
    <br/>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
