<%= render :template => 'layouts/header' %>
<div id="mcontainer1">
  <br/>
  <% if signed_in? %>
      <%= render "shared/menu_logged_in" %>
  <% else %>
      <%= render "shared/menu_logged_out" %>
  <% end %>
  </br>
  <%= yield %>
  <br/>
  <br/>
  <br/>
  <a href="/site_map" >Site Map</a>
</div>
<%= render :template => 'layouts/footer' %>



