<br/>
<ul data-role="listview" data-divider-theme="b" data-inset="true">
  <li data-role="list-divider" role="heading">
    Results
  </li>
  <br/>
  <br/>
  <% @results.each do |result|

    company = result[:company]
    people = result[:people]

  %>

      <!--  <li data-theme="c">-->
      <div class='hto_result'>
        <div class='hto_company_div'>
          <a href="<%= company[:url] %>" target='_blank'>

            <%= company[:name] %>
          </a>
          <br/>
          <img class='hto_company_logo' src='<%= company[:logo_url] %>'>
          <br/>
        </div>
        <br/>

        <div class='hto_inner'>

          <% people.each do |person| %>
              <a href="<%= person['publicProfileUrl'] %>" target='_blank'>
                <div id="personContainer">
                  <table>
                    <tr>
                      <td class='hto_td'>
                        <img class='hto_logo' src="<%= person['pictureUrl'] %>">
                      </td>
                      <td>
                        <%= person['firstName'] %> <%= person['lastName'] %> - <%= person['headline'] %>

                      </td>
                    </tr>
                  </table>
                  <br/>
                </div>
              </a>
          <% end %>
        </div>
      </div>
      <!--      </li>-->
      <br/>
      <br/>
  <% end %>

</ul>