<%= render :template => 'layouts/header' %>


<div id="container1">

  <div data-theme="c" data-role="header">
    <h3>
      Hiring=&gt;To
    </h3>
  </div>
  <div data-role="content">

    <%= link_to "View mobile site", url_for(:mobile_site => 1) if mobile_browser? %>
    <br/>
    <% if signed_in? %>
        <%= render "shared/menu_logged_in" %>
    <% else %>
        <%= render "shared/menu_logged_out" %>
    <% end %>
    </br>
    <%= yield %>
  </div>

</div>

<%= render :template => 'layouts/footer' %>
